
ion-icon {
    font-size: 30px; 
}

.hero span{
    font-size: 30px;
    padding: 20px;
    text-shadow: 2px 2px 1px #fff;
    background: khaki;
}

.list-ios {
    margin-top: 0px;
    margin-bottom: 0px;
}