
<ion-content>
  <app-progress-loader [numberOfRows]="8" *ngIf="!categories"></app-progress-loader>


<ion-grid>
  <ion-row>
    <ion-col size="12" *ngFor="let category of categories | async" routerLink="/tabs/tab2/category/{{category?.id}}">
      <div class="hero" style="height: 175px;" [style.background]="'url('+category.imgUrl+')'">
        <span>{{category.name}}</span>
   </div>
    </ion-col>
  </ion-row>
  
</ion-grid> 
<!-- <ion-list>
  <ion-item-sliding *ngFor="let category of categories | async">
      <ion-item-options>
          <button ion-button icon-only (click)="addToCard(category)">
              <ion-icon name="cart" color="primary"></ion-icon>
          </button>
          <button ion-button icon-only (click)="viewDetail(category)">
              <ion-icon name="paper" color="secondary"></ion-icon>
          </button>
      </ion-item-options>

  </ion-item-sliding>
</ion-list> -->


</ion-content>
