.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-card p{font-size: 12px; text-align: center; line-height: 20px;height: 20px;
  overflow: hidden;
  margin-bottom: 2px; }


ion-icon {
  font-size: 20px; 
}

ion-row{margin-left: 0px; margin-right: 0px;}

.box button{background:none;}