<ion-header>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button routerLink="/search">
        <ion-icon slot="icon-only" name="search" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <app-media-skeleton *ngIf="!slides" class="slide-skeleton"></app-media-skeleton>
      <ion-slides pager="true">
          <ion-slide *ngFor="let slide of slides">
              <img [src]="slide?.imgUrl"/>
          </ion-slide>
      </ion-slides>
    </ion-card>




 <app-progress-loader [numberOfRows]="6" *ngIf="!items"></app-progress-loader>

  <ion-card class="welcome-card">
  <ion-segment scrollable (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let selected of selectedCategories">
      {{selected}}
    </ion-segment-button>
  </ion-segment>
</ion-card>

  <div class="container">

 <!--  <ion-slides>
    <ion-slide *ngFor="let selectedProduct of selectedProducts">
      <ion-col size="8">
        <app-media-skeleton [src]="selectedProduct?.imgUrl"  [ngStyle]="{'animation-delay':(i + 1) * 0.2+'s'}"
      ></app-media-skeleton>
          <p class="productTitle">{{selectedProduct?.name}}</p>
          <div class="box">
              <p class="price">${{selectedProduct?.price}}</p>
              <button ion-button  icon-only (click)="addToCard(category)">
                <ion-icon name="cart" color="primary"></ion-icon>
              </button>
              <button ion-button icon-only class="ion-float-right" (click)="addToCard(category)">
                <ion-icon name="md-arrow-dropright-circle" color="secondary"></ion-icon>
              </button>
          </div>
    </ion-col>
  </ion-slide>
  </ion-slides> -->

 <ion-row class="row">
 <ion-col size="6" *ngFor="let item of items | async;let i=index" routerLink="/product/product-details/{{item?.id}}">
<div>
<ion-card class="ion-no-padding ion-no-margin">
  <app-media-skeleton [src]="item?.imgUrl[0]"   [ngStyle]="{'animation-delay':(i + 1) * 0.2+'s'}"
></app-media-skeleton>
    <p class="productTitle">{{item?.name}}</p>
    <div class="box">
        <p>{{item?.price | currency:'USD'}}</p>
    </div>
</ion-card>
</div>
</ion-col>


</ion-row>
</div>
</ion-content>
