<ion-header>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button routerLink="/search">
        <ion-icon slot="icon-only" name="search" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <app-media-skeleton *ngIf="!slides" class="slide-skeleton"></app-media-skeleton>
      <ion-slides pager="true">
          <ion-slide *ngFor="let slide of slides">
              <img [src]="slide?.imgUrl"/>
          </ion-slide>
      </ion-slides>
    </ion-card>




 <app-progress-loader [numberOfRows]="6" *ngIf="!items"></app-progress-loader>
 <div class="container">
 <ion-row class="row">
 <ion-col size="4" *ngFor="let item of items;let i=index" routerLink="/product/product-details/{{item?.id}}">
<div>
<ion-card class="ion-no-padding ion-no-margin">
  <app-media-skeleton [src]="item?.imgUrl" [className]="animationClass"  [ngStyle]="{'animation-delay':(i + 1) * 0.2+'s'}"
></app-media-skeleton>
    <p class="productTitle">{{item?.name}}</p>
    <div class="box">
        <p class="price">${{item?.price}}</p>
        <button ion-button  icon-only (click)="addToCard(category)">
          <ion-icon name="cart" color="primary"></ion-icon>
        </button>
        
        <button ion-button icon-only class="ion-float-right" (click)="addToCard(category)">
          <ion-icon name="md-arrow-dropright-circle" color="secondary"></ion-icon>
        </button>
    </div>
</ion-card>
</div>
</ion-col>


</ion-row>
</div>
</ion-content>
