.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-card p{    font-size: 15px;
  text-align: center;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  margin-bottom: 2px;
  margin-top: 6px; }


ion-icon {
  font-size: 30px; 
}

ion-row{margin-left: 0px; margin-right: 0px;}

.box button{background:none;}