<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title> My Orders</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card  class="welcome-card" *ngFor="let order of orders | async"  routerLink="/order/order-detail/{{order?.id}}">
  <ion-card-content >

    <ion-row class="ion-text-center">
      <ion-col size="4" class="ion-no-padding">
        <ion-slides pager="true">
          <ion-slide *ngFor="let product of order?.imgUrl">
            <img [src]="product" />
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="8" class="ion-no-padding">
        <ion-text color="secondary">
          <p>{{order.name}}</p>
          <p>{{order.orderDate}}</p>
          <p>{{order.orderNo}}</p>
        </ion-text>
        
      </ion-col>
    </ion-row>
  </ion-card-content>



</ion-card>
</ion-content>
