<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title>{{productDetail.name}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">

    <app-media-skeleton *ngIf="!productDetail.imgUrl" class="slide-skeleton"></app-media-skeleton>
    <ion-slides pager="true">
        <ion-slide *ngFor="let product of productDetail.imgUrl">
   
            <img [src]="product.imgSrc"/>
        </ion-slide>
    </ion-slides>
  </ion-card>

    <p class="productTitle">{{productDetail.name}}</p>


    <ul>
      <li *ngFor="let size of itemSizes;">
        {{size}}
      </li>
    </ul>
    <p>{{productDetail.description}}</p>
    <iframe height="315" src="https://www.youtube.com/embed/Q_EwuVHDb5U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-content>
