<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title>{{productDetail.name}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">

    <app-media-skeleton *ngIf="!productDetail.imgUrl" class="slide-skeleton"></app-media-skeleton>
    <ion-slides pager="true">
        <ion-slide *ngFor="let product of productDetail.imgUrl">
   
            <img [src]="product.imgSrc"/>
        </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>{{productDetail.name}}</ion-card-subtitle>
    </ion-card-header>
   <ion-card-content>    
     <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Select Size</ion-label>
      </ion-list-header>
  
      <ion-item *ngFor="let size of itemSizes;">
        <ion-label>    {{size}}  </ion-label>
        <ion-radio [value]="size" checked></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card-content>
 </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Description</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>{{productDetail.description}}</ion-card-content>
  </ion-card>
    
  
</ion-content>
