<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  
    <div class="jumbotron">
      <h1>{{ authService.userData?.displayName }}</h1>
      <p> Welcome to Profile Page. <br /> Your email is {{ authService.userData?.email }}</p>
    
      <p *ngIf="authService.isLoggedIn()">
        <a class="btn btn-lg btn-primary" href="" role="button" (click)="authService.logout()">Logout</a>
      </p>
    </div>
  
  </div> <!-- /container -->
</ion-content>
